@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base app look (matches your ACOS tool vibe) */
html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
